/AddUserException.class
/BaseException.class
/DaoException.class
/FileException.class
/HaveExistException.class
/MenuException.class
/MenuIndexException.class
/NoObjectException.class
/PasswordEqualException.class
/PasswordErrorException.class
